@mixin form {
    html {
        body {
            div.modal {
                div.modal-dialog {
                    .modal-content {
                        .modal-body {
                            .user-form, .permission-form, .role-form {
                                form.userForm, form.permissionForm, form.roleForm {
                                    .user-form-fields, .permission-form-fields, .role-form-fields {
                                        max-width: 500px;
                                        width: 100%;
                                        margin: 0 auto;
                                        padding: 20px;
                                      
                                        label,
                                        input {
                                            display: block;
                                            width: 100%;
                                        }
                                        
                                        label {
                                            margin-bottom: 5px;
                                            height: 22px;
                                        }
                                        
                                        input {
                                            margin-bottom: 20px;
                                            padding: 10px;
                                            border-radius: 3px;
                                            border: 1px solid #777;
                                        }
                                        
                                        input.error {
                                            border-color: red;
                                        }
                                        
                                        .input-feedback {
                                            color: rgb(235, 54, 54);
                                            margin-top: -15px;
                                            font-size: 14px;
                                            margin-bottom: 20px;
                                        }
                                        
                                        // button {
                                        //     padding: 10px 15px;
                                        //     background-color: rgb(70, 153, 179);
                                        //     color: white;
                                        //     border: 1px solid rgb(70, 153, 179);
                                        //     background-color: 250ms;
                                        // }
                                        
                                        // button:hover {
                                        //     cursor: pointer;
                                        //     background-color: white;
                                        //     color: rgb(70, 153, 179);
                                        // }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #root {
                .main-container {
                    main {
                        .password-reset-container, .new-password-container, .profile-container {
                            .content {
                                .password-reset-form, .new-password-form {
                                    .passwordResetForm, .newPasswordForm {
                                        .password-reset-form-fields, .new-password-form-fields {
                                            max-width: 500px;
                                            width: 100%;
                                            margin: 0 auto;
                                            padding: 20px;
                                        
                                            label,
                                            input {
                                                display: block;
                                                width: 100%;
                                            }
                                            
                                            label {
                                                margin-bottom: 5px;
                                                height: 22px;
                                            }
                                            
                                            input {
                                                margin-bottom: 20px;
                                                padding: 10px;
                                                border-radius: 3px;
                                                border: 1px solid #777;
                                            }
                                            
                                            input.error {
                                                border-color: red;
                                            }
                                            
                                            .input-feedback {
                                                color: rgb(235, 54, 54);
                                                margin-top: -15px;
                                                font-size: 14px;
                                                margin-bottom: 20px;
                                            }
                                        }
                                    }
                                }

                                .tab-content {
                                    #profile-tabs-tabpane-password {
                                        .new-password-form {
                                            .newPasswordForm {
                                                .new-password-form-fields {
                                                    max-width: 500px;
                                                    width: 100%;
                                                    margin: 0 auto;
                                                    padding: 20px;
                                                
                                                    label,
                                                    input {
                                                        display: block;
                                                        width: 100%;
                                                    }
                                                    
                                                    label {
                                                        margin-bottom: 5px;
                                                        height: 22px;
                                                    }
                                                    
                                                    input {
                                                        margin-bottom: 20px;
                                                        padding: 10px;
                                                        border-radius: 3px;
                                                        border: 1px solid #777;
                                                    }
                                                    
                                                    input.error {
                                                        border-color: red;
                                                    }
                                                    
                                                    .input-feedback {
                                                        color: rgb(235, 54, 54);
                                                        margin-top: -15px;
                                                        font-size: 14px;
                                                        margin-bottom: 20px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}