@mixin navbar {
    html {
        body {
            #root {
                // .navbar {
                //     #basic-navbar-nav {
                //         ul.navbar-nav {
                //             li.nav-item {
                //                 button.nav-link:focus {
                //                     outline:0 !important;
                //                 }

                //                 button.nav-link:active {
                //                     outline: none;
                //                     border: none;
                //                 }
                //             }
                //         }
                //     }
                // }

                .main-container {
                    #navigation-bar {
                        #navigation-bar-toolbar {
                            a.navbar-brand:hover, a.navbar-brand {
                                color: #fff;
                                text-decoration: none;
                            }
                            .navbar-items {
                                a.navbar-item:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}