@mixin user-list {
    html {
        body {
            #root {
                .container-fluid {
                    .tab-content {
                        .tab-pane {
                            border-right: solid 1px transparent;
                            border-left: solid 1px transparent;
                            border-bottom: solid 1px transparent;
                            border-color: #dee2e6;
                        }
                    }
                }
            }
        }
    }    
}