@mixin defaults {
    // Custom widths
    .w-10 {
        width: 10% !important;
    }

    .w-20 {
        width: 20% !important;
    }

    .w-30 {
        width: 30% !important;
    }
    
    .w-40 {
        width: 40% !important;
    }
    .w-45 {
        width: 45% !important;
    }

    .w-55 {
        width: 55% !important;
    }
    
    .w-60 {
        width: 60% !important;
    }

    .w-65 {
        width: 65% !important;
    }

    .w-70 {
        width: 70% !important;
    }

    .w-75 {
        width: 75% !important;
    }

    .w-80 {
        width: 80% !important;
    }

    .w-85 {
        width: 85% !important;
    }

    .w-90 {
        width: 90% !important;
    }

    .w-95 {
        width: 95% !important;
    }

    // Custom heights
    .h-10 {
        height: 10% !important;
    }

    .h-20 {
        height: 20% !important;
    }

    .h-30 {
        height: 30% !important;
    }
    
    .h-40 {
        height: 40% !important;
    }

    .h-55 {
        height: 55% !important;
    }
    
    .h-60 {
        height: 60% !important;
    }

    .h-65 {
        height: 65% !important;
    }

    .h-70 {
        height: 70% !important;
    }

    .h-75 {
        height: 75% !important;
    }

    .h-80 {
        height: 80% !important;
    }

    .h-85 {
        height: 85% !important;
    }

    .h-90 {
        height: 90% !important;
    }

    .h-95 {
        height: 95% !important;
    }

    // Custom paddings
    .pr-6 {
        padding-right: 4.5rem !important;
    }

    .rounded-btn {
        border: 2px solid rgba(255, 255, 255, 0) !important;
        border-radius: 40px !important;
    }
}