/* This file contains all application-wide CSS variables. */
.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-55 {
  height: 55% !important;
}

.h-60 {
  height: 60% !important;
}

.h-65 {
  height: 65% !important;
}

.h-70 {
  height: 70% !important;
}

.h-75 {
  height: 75% !important;
}

.h-80 {
  height: 80% !important;
}

.h-85 {
  height: 85% !important;
}

.h-90 {
  height: 90% !important;
}

.h-95 {
  height: 95% !important;
}

.pr-6 {
  padding-right: 4.5rem !important;
}

html body #root .login-form h1 {
  text-align: center;
}
html body #root .login-form form.loginForm {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
html body #root .login-form label,
html body #root .login-form input {
  display: block;
  width: 100%;
}
html body #root .login-form label {
  margin-bottom: 5px;
  height: 22px;
}
html body #root .login-form input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}
html body #root .login-form input.error {
  border-color: red;
}
html body #root .login-form .input-feedback {
  color: #eb3636;
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}
html body #root .login-form button {
  padding: 10px 15px;
  background-color: #4699b3;
  color: white;
  border: 1px solid #4699b3;
  background-color: 250ms;
}
html body #root .login-form button:hover {
  cursor: pointer;
  background-color: white;
  color: #4699b3;
}
html body #login-popover .MuiPopover-paper {
  max-width: 350px !important;
  width: 100% !important;
}
html body #login-popover .popover-body form.loginForm, html body #login-popover .MuiPopover-paper form.loginForm {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
html body #login-popover .popover-body form.loginForm .form__field-wrapper, html body #login-popover .MuiPopover-paper form.loginForm .form__field-wrapper {
  width: 100%;
  position: relative;
  padding-top: 1.75em;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  background-color: #fff;
}
html body #login-popover .popover-body form.loginForm .form__field-wrapper + .form__field-wrapper, html body #login-popover .MuiPopover-paper form.loginForm .form__field-wrapper + .form__field-wrapper {
  border-top: none;
}
html body #login-popover .popover-body form.loginForm .form__field-input:focus ~ .form__field-label, html body #login-popover .MuiPopover-paper form.loginForm .form__field-input:focus ~ .form__field-label {
  color: #666;
  background-color: #EDEDED;
}
html body #login-popover .popover-body form.loginForm .form__field-input:focus, html body #login-popover .MuiPopover-paper form.loginForm .form__field-input:focus {
  background-color: #EDEDED;
  color: #333;
}
html body #login-popover .popover-body form.loginForm .form__field-label, html body #login-popover .MuiPopover-paper form.loginForm .form__field-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  z-index: 1;
  font-size: 0.8em;
  color: #999;
  font-weight: 400;
  user-select: none;
  cursor: text;
}
html body #login-popover .popover-body form.loginForm .form__field-input, html body #login-popover .MuiPopover-paper form.loginForm .form__field-input {
  position: relative;
  padding: 1.625em 16px;
  width: 100%;
  color: #666;
  border: none;
  outline: 0;
  letter-spacing: 0.05em;
}
html body #login-popover .popover-body form.loginForm .form__submit-btn-wrapper, html body #login-popover .MuiPopover-paper form.loginForm .form__submit-btn-wrapper {
  padding: 1em;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
html body #login-popover .popover-body form.loginForm .form__submit-btn, html body #login-popover .MuiPopover-paper form.loginForm .form__submit-btn {
  border: none;
  background-color: #fff;
  border: 1px solid #6CC0E5;
  padding: 0.5em 1em;
  border-radius: 3px;
  background-color: #6CC0E5;
  color: white;
  display: block;
  margin: 0 auto;
  position: relative;
}
html body #login-popover .popover-body .form-page__wrapper, html body #login-popover .MuiPopover-paper .form-page__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
html body #login-popover .popover-body .form-page__form-wrapper, html body #login-popover .MuiPopover-paper .form-page__form-wrapper {
  max-width: 350px;
  width: 100%;
  background-color: #fff;
}
html body #login-popover .popover-body .form-page__form-heading, html body #login-popover .MuiPopover-paper .form-page__form-heading {
  text-align: center;
  font-size: 1.5em;
  user-select: none;
}
html body #login-popover .popover-body .form-page__form-header, html body #login-popover .MuiPopover-paper .form-page__form-header {
  padding: 1em;
}
html body #login-popover .popover-body input.error, html body #login-popover .MuiPopover-paper input.error {
  border-color: red;
}
html body #login-popover .popover-body .input-feedback, html body #login-popover .MuiPopover-paper .input-feedback {
  color: #eb3636;
  font-size: 14px;
  padding: 0.5em 16px 1.5em;
}

html body #root .main-container #navigation-bar #navigation-bar-toolbar a.navbar-brand:hover, html body #root .main-container #navigation-bar #navigation-bar-toolbar a.navbar-brand {
  color: #fff;
  text-decoration: none;
}
html body #root .main-container #navigation-bar #navigation-bar-toolbar .navbar-items a.navbar-item:hover {
  color: #fff;
}

html body #root .main-container main #container .tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #428BFF;
}
html body #root .main-container main #container .tabs ul li.active label {
  color: #fff;
}
html body #root .main-container main #container .tabs ul li.active .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #fff;
  border-radius: 1px;
}
html body #root .main-container main #container .tabs ul li.inactive .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #929daf;
  border-radius: 1px;
}
html body #root .main-container main #container .tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
html body #root .main-container main #container .tabs ul li {
  box-sizing: border-box;
  flex: 1;
  padding: 5px;
  text-align: center;
}
html body #root .main-container main #container .tabs ul li a {
  text-decoration: none;
}
html body #root .main-container main #container .tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
}
html body #root .main-container main #container .content {
  position: relative;
  background: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 180px;
}

html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .user-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .permission-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .role-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .user-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .permission-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .role-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .user-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .permission-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .role-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .user-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .permission-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .role-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .user-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .permission-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .role-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .user-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .permission-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .role-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .user-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .permission-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .role-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .user-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .permission-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .role-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .user-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .permission-form-fields, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .role-form-fields {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .user-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .permission-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .role-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .user-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .permission-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .role-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .user-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .permission-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .role-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .user-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .permission-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .role-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .user-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .permission-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .role-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .user-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .permission-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .role-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .user-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .permission-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .role-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .user-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .permission-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .role-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .user-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .permission-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .role-form-fields label,
html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .role-form-fields input {
  display: block;
  width: 100%;
}
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .user-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .permission-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .role-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .user-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .permission-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .role-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .user-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .permission-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .role-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .user-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .permission-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .role-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .user-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .permission-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .role-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .user-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .permission-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .role-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .user-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .permission-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .role-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .user-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .permission-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .role-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .user-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .permission-form-fields label, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .role-form-fields label {
  margin-bottom: 5px;
  height: 22px;
}
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .role-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .user-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .permission-form-fields input, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .role-form-fields input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .user-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .permission-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .role-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .user-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .permission-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .role-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .user-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .permission-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .role-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .user-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .permission-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .role-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .user-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .permission-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .role-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .user-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .permission-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .role-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .user-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .permission-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .role-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .user-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .permission-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .role-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .user-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .permission-form-fields input.error, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .role-form-fields input.error {
  border-color: red;
}
html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .user-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .permission-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.userForm .role-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .user-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .permission-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.permissionForm .role-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .user-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .permission-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .user-form form.roleForm .role-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .user-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .permission-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.userForm .role-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .user-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .permission-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.permissionForm .role-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .user-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .permission-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .permission-form form.roleForm .role-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .user-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .permission-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.userForm .role-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .user-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .permission-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.permissionForm .role-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .user-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .permission-form-fields .input-feedback, html body div.modal div.modal-dialog .modal-content .modal-body .role-form form.roleForm .role-form-fields .input-feedback {
  color: #eb3636;
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

html body .register-form form.registerForm .register-form-fields {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
html body .register-form form.registerForm .register-form-fields label,
html body .register-form form.registerForm .register-form-fields input {
  display: block;
  width: 100%;
}
html body .register-form form.registerForm .register-form-fields label {
  margin-bottom: 5px;
  height: 22px;
}
html body .register-form form.registerForm .register-form-fields input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}
html body .register-form form.registerForm .register-form-fields input.error {
  border-color: red;
}
html body .register-form form.registerForm .register-form-fields .input-feedback {
  color: #eb3636;
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

html body #root .main-container main .FourOhFour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body #root .main-container main .FourOhFour .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  mix-blend-mode: overlay;
}
html body #root .main-container main .FourOhFour .code {
  font-family: "Alfa Slab One", cursive;
  font-size: 144px;
  height: 100vh;
  color: white;
  width: 100%;
  display: flex;
  background-position: center;
  align-items: center;
  background-size: cover;
  justify-content: center;
}

html body #root .main-container main .content {
  position: relative;
  background: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 180px;
}

html body #root .main-container .main-sidebar .navbar-brand a.navbar-item {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  padding-left: 8px;
}

/*# sourceMappingURL=styles.css.map */
